{% extends 'BioCascadeModeller/BCMbase.html' %}
{% load static %}
<!-- Uses the BCMbase.html for framework purposes-->
        <!--this is the title of the page -->
{% block title %}Sources for Nutrient Recovery{% endblock %}
<!-- body block-->
{% block body_block %}

    <h1>BioCascade Modeller</h1>
    <br>
    <h3>Potential sources for nutrient recovery:</h3>
       <br>
        <!-- if there are values past from the view.-->
    <p>{% if wastes  %}

        <div id="main-wrap">
    <div id="sidebar"><img src="{% static 'BCMhome.png' %}" alt="Picture of Metabolic workflow concept" /></div>
    <div id="content-wrap">
       <ul>
            <br><br><br><br>


    <!-- retrieve every value -->
            {% for waste in wastes %}
    <!-- show the name of the waste(value) along and make a link containing /BioC../<variable>-->
    <!-- This variable is send to the view.details page and can be further used for database information retrieving-->

        <h2><a href="/BioCascadeModeller/{{ waste.id }}">{{ waste.name }}</a></h2>

    <!--
    <li><a href="/BioCascadeModeller/{{ waste.id }}">{{ waste.name }}</a></li> -->
            {% endfor %}

   </ul>
        {% else %}
        <strong>No wastes at present.</strong>
        {% endif %}

    </div>
</div>




{% endblock %}







