<!DOCTYPE html>
{% load static %}

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link href="{% static 'css/bootstrap-fluid-adj.css' %}" rel="stylesheet">
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'css/bootstrap-responsive.css' %}" rel="stylesheet">


    <title>Metabolic Online Platform</title>
</head>
<body>

   <div class="navbar navbar-inverse navbar-fixed-top">
   <div class="navbar-inner">
       <div class="container">
           <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
               <span class="icon-bar"></span>
           </button>
           <a class="brand" href="/">Home</a>

           <div class="nav-collapse collapse">
               <ul class="nav pull-right">

                    <!-- Adding links to the topbar -->
                    <li><a href="/BioCascadeModeller/">BioCascadeModeller</a></li>
                    <li><a href="/about/">About</a></li>


               </ul>
               <ul class="nav">


               </ul>
           </div>
           <!--/.nav-collapse -->
       </div>
   </div>
</div>
   <!-- Some info on this app -->
   <div class="hero-unit">
    <h1>Welcome to Metabolic's Online Platform!</h1>
       <br>

    <li><p>Use the BioCascadeModeller to learn more about nutrient recovery from waste</p></li>
       <center><a href="/"><button>Smart Sensoring (not functional)</button></a></center>
        <center>
            <a href="/"><button>? (not functional)</button></a>
       <img src="{% static 'Mainpage1.png' %}" alt="Picture of Metabolic workflow concept" />
            <a href="/BioCascadeModeller"><button>BioCascadeModeller</button></a></center>
<!-- alternative:-->
       <center>
       <form action="/">

    <input type="submit" value="Energy Calculation Model (not functional)">
</form>
</center>
</div>


<!--/.fluid-container-->

<hr>
<footer>
    <div class="container">

        <!--Add a picture and center it-->
        <p align="center"><img src="{% static 'metabolic-logo-ds.png' %}" alt="Picture of Metabolic" /></p>
        <font color="white">&copy; Metabolic Online Platform 2014</font>
    </div>
</footer>
    <script src="{% static 'js/jquery-2.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>

</body>
</html>